.mortality
    background-color: #d7d7d7 !important
.card
    width: 250px
    height: 110px 
    border: 1px solid #ccc !important 
.card-body
    padding: 1rem
.card-titulo
    text-align: center
    font-size: 1em
.card-numero
    font-size: 1.7em
    text-align: center