.TablaConfirmados
    max-height: 400px
    overflow: auto
    @media(max-width: 960px)
        width: 320px
        margin: 15px auto
.tabla-header
    position: sticky
    top: 0
    background-color: rgba(237, 240, 245, 0.75)
    border-top: 0 !important 
.tabla-conf
    text-align: center