.TablaConfirmados
    max-height: 400px
    overflow: auto
    @media(max-width: 960px)
        width: 320px
        margin: 15px auto
    td
        font-size: .8em
.tabla-header
    position: sticky
    top: 0
    background-color: rgba(237, 240, 245, 0.75)
    border-top: 0 !important 
    font-size: .9em
.tabla-conf
    text-align: left
    .diff-lista
        color: #cc0000
        font-size: 10px
        vertical-align: middle